.product_card_body {
    height: 50px !important;
}
.product_card {
    margin-bottom: 20px;
    transition: linear 0.8s;
}
.product_card:hover {
    cursor: pointer;
    transition: linear 0.5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-body {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important;
}

.Modal_body_image {
    padding: 45px;
    width: 50%;
}
.modal-body {
    max-height: 80vh;
    overflow-y: auto;
}
.Modal_body_image img {
    width: 100%;
    height: auto;
    max-height: 50vh;
}

.Modal_body_text {
    width: 50%;
    padding: 35px;
    max-height: 60vh;
    overflow-y: auto;

}

@media (max-width: 750px) {

    .Modal_body_image,
    .Modal_body_text {
        padding: 0 5px !important;
        width: 100%;
    }

    .Modal_body_text {
        margin-top: 15px;
    }
}