.main_nav {
    background: #800000;
    height: var(--nav_height);
  }
  
#basic-nav-dropdown::after {
  display: none;
}


.main_nav .dropdown-item.active,
.main_nav .dropdown-item:active {
  background-color:red;
}
.product_button_color {
  color: white;
}
/* Optional: Make the collapse background specific to smaller screens */

/* Dropdown-specific styles for Nav.Link and NavDropdown items */
.main_nav .navbar-nav .dropdown-menu {
  border-radius: 0.25rem;
  background-color: #f5deb3; /* Adjust color for mobile */
}

.main_nav .navbar-nav .dropdown-item:hover {
  background-color: #495057; /* Slightly darker on hover */
  color: black;
}

.cursor-pointer {
  cursor: pointer;
}






.nav_buttons:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.5s;
}
.nav_buttons {
  transition: ease-in-out 0.3s;
}
.nav_logo:hover {
  transform: scale(1);
  transition: ease-in-out 1.5s;
}
.nav_logo {
  transform: scale(0.9);
  transition: ease-in-out 0.7s;
  padding-left: calc(var(--nav_height) - 10px);
}
#basic-navbar-nav {
  padding-right: calc(var(--nav_height) - 10px);
}

@media (max-width: 992px) {
  .main_nav .navbar-collapse {
    background-color: #f7d79b;
    border-radius: 8px;
    padding: 20px;
    border-radius: 15px;
  }
  
  .main_nav .nav-link,
  .main_nav .dropdown-item {
    color: black !important; /* Ensure links are readable */
  }
  .product_button_color {
    color: black !important;
  }




  .nav_buttons:hover {
    transform: scale(0.9) !important;
  }
  .nav_logo:hover {
    transform: scale(1) !important;
  }
  .nav_logo {
    transform: scale(0.9) !important;
    padding-left: 3px !important;
  }
  .nav_logo:hover {
    transform: scale(0.9) !important;
  }
}
